# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
__env__/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
db.sqlite3



# Media files
media/

# Secret key
*.secret

# Environment variables
.env

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Compiled bytecode
*.pyc
__pycache__/

# Local development settings
local_settings.py

*.pyc

*.pyo

*/migrations/*.py
!*/migrations/__init__.py
